#container{
    width:960px;
    margin:0px auto
}
#titles {
    font-weight: lighter;font-family: Helvetica;font-size: 20px;text-indent: 300px
} 
#body {background-color:#F0F0F0 }
#footer {font-weight: lighter;text-indent: 300px;font-family: Helvetica;font-size: 14px;
        position:fixed;
        bottom:0px;
        height:70px;
        width:100%;}
#h1 {font-weight: lighter;text-align:center;font-family: Helvetica;font-size: 30px}
#h5 {font-weight: lighter;text-align:center;font-family: Helvetica;font-size: 15px}
#ul {font-weight: lighter;font-family: Helvetica;font-size: 18px;text-indent: 300px;list-style-position: inside}

@media screen and(max-width:959px){
    #container{
        width:100%;
    }
    
}